<div class="gistPage" ng-form="gist" name="gistForm">
  <user-card class="col-xs-3" gist="gist"></user-card>
  <div class="gistCard-rightCol col-xs-6">
    <div class="form-group">
      <input ng-model="gist.description" type="text"
             class="form-control form-gistDesc editableField">
    </div>
    <span ng-if="!gist.public" class="glyphicon glyphicon-lock"></span>
    Comments: {{::gist.comments}}
    <br><br>

    <div ng-repeat="file in gist.files">
      <a ng-href="{{file.raw_url}}">{{file.filename}}</a>
      <textarea rows="10" type="text" class="form-fileContent" ng-model="file.content"></textarea>
    </div>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <div>
      <button type="button" ng-click="deleteGist()" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div><br><br>
    <button class="btn btn-lg btn-info"
            ng-if="gistForm.$dirty"
            ng-disabled="gistForm.$invalid"
            ng-click="updateGist()" ng-submit="gistForm">
      Update Gist
    </button>
  </div>
</div>